<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑页面</title>
    <link rel="stylesheet" type="text/css" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>

</head>
<body>

<div id="app">



<form class="layui-form" action="/auth/rest/zh/latest/auth/role/save">

    <input name="uid" type="hidden" v-model="obj.uid">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName"  v-model="obj.roleName" minlength="2" maxlength="10" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">角色类型</label>

            <div class="layui-input-block">
                <input v-if="auth.type==0" type="radio" name="roleType" value="platform_admin" title="平台管理员" :checked="null==obj.roleType||obj.roleType==0">
                <input v-if="auth.type==0|| auth.type==4"type="radio" name="roleType" value="operator_admin" title="运营商管理员" :checked="(null==obj.roleType && auth.type==4)||obj.roleType==4">
            </div>

        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">角色描述</label>
        <div class="layui-input-block">
            <textarea name="description" v-model="obj.description" placeholder="请输入角色描述" class="layui-textarea"></textarea>
        </div>
    </div>


    <div class="layui-footer">
        <div class="footer-btn">
            <button class="layui-btn " lay-submit="" lay-filter="save">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <label class="layui-btn layui-btn-danger close-btn">关闭</label>
        </div>
        <!-- 底部固定区域 -->

    </div>
</form>

</div>

<script type="text/javascript" src="../plugins/layui/layui.js"></script>
<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/ajax_utils.js"></script>
<script>
    var id= GetQueryString('uid');
    var app = new Vue({
        el: '#app',
        data:{
            obj:{},
            auth:getAuth()
        }
    });

    if(id){

        $.myAjaxData({
            url:'/auth/rest/zh/latest/auth/role/get',
            data:{uid:id},
            type:'get',
            successBack:function (data) {
                app.obj = data;
                app.$nextTick(function () {
                    $.myEdit();
                });

            },
            failBack:function (code,msg) {
                layer.msg(msg, {icon: 2,time:2000});
            }

        });
    }else{
        $.myEdit();
    }



</script>


</body>
</html>